.big
{
  background-color: #24353F;
}


.element{
    background-color: #24353F;
    

}

.element h1{
  color: #17A2B8;
}

.element input{
background-color: transparent !important;
    color: #fff !important;
    border-color: gray;

}

.element ::placeholder{

    color: #fff !important;

}

a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

